

/* Contact Form */
#success_message {
   display: none;
 }

/* Lean Canvas */
.col-md-2 {
  padding: 0px;
}

.col-md-4 {
  padding: 0px;
}
.col-md-6 {
  padding: 0px;
}
.col-md-12 {
  padding: 0px;
}

.panel-padding {
  margin-top: 50px;
  margin-bottom: 125px;
}

.panel-rounded-corners {
  border-radius: 5px !important;
}


#section-overview {
  margin-top: 50px;
  margin-bottom: 100px;
}
#section-leancanvas {
  margin-top: 50px;
  margin-bottom: 100px;
}

#leancanvas-title h2 {
  background-color: rgba(242,222,223, 0.9);   /* pink */
#  background-color: rgba(254,247,228, 0.9);   /* yellow */
#  background-color: rgba(222,240,216, 0.9);   /* green */
  margin:0px;
  padding:0px;
  color: #666666;
  text-align: center;
}

.panel-column {
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  border: 2px solid indianred;
  overflow: hidden;
  color: black;
  background-color: rgba(242,222,223, 0.85);   /* pink */
#  background-color: rgba(254,247,228, 0.9);   /* yellow */
#  background-color: rgba(222,240,216, 0.9);   /* green */
}

.panel-column-full {
  height: 500px;
}
.panel-column-half {
  height: 250px;
}
.panel-column-quarter {
  height: 150px;
}

.panel-column p {
  padding: 5px;
  margin: 5px;
  text-align: left;
  margin-bottom: 25px;
  color: #666666;
border: none;
}

.panel-column h3 {
  text-align: left;
  font-size: 1.5em;
  color: #666666;
  margin: 10px;
}

.panel-column h4 {
  font-size: 1em;
  text-align: left;
  margin: 10px;
  margin-bottom: 0px;
  color: indianred;
}

.panel-column-leancanvas {
  border: 1px solid indianred;
}

#leancanvas-title {
  border: 1px solid indianred;
}

/* END Lean Canvas */

.extra-margin {
  margin: 15px;
}


#site-name {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 5px;
}

body {
#  background-color: #f1f1f1;
  background-image: url('/images/mlk-march-on-dc.jpg');
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('/images/mlk-march-on-dc.jpg');

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body img {
  opacity: .5;
}

footer {
  height: auto;
  background-color: #111111;
  color: white;
  margin: 0px;
  padding: 0px;
}

footer p {
  float: left;
  padding: 25px;
  text-align: center;
}

footer form {
  float: right;
  padding: 25px;
}

/* END HEADER */


/* Join Us Form */
#search-results {
  position: absolute;
  top: 20%;
  right: 2%;
  width: 35%;
  height: 50%
}
/*
.join-us-form {
  border: 2px solid black;
  background-color: #0F4E83;
  border-radius: 5px;

  float: inherit;
  position: relative;
  overflow: hidden;
  text-align: left;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  margin-top: 25px;
  padding: : 0%;
}
*/

.join-us-form h2, h4  {
  margin-top: 20px;
  text-align: center;
}

.join-us-form h4  {
  color: indianred;
  font-size: 1.4em;
  height: 40px;
  border-bottom: 2px white solid;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 25px;
}

/*
.join-us-form input  {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 20px;
}
*/

.join-us-form-input-comment {
  vertical-align: text-top;
}

.join-us-form label  {
  width: 95%;
  margin-left: 5px;
}

.join-us-form button  {
  margin-left: 5px;
  align-self: center;
  margin: 10px;
  font-size: 1.6em;
}

.join-us-form span  {
  margin-left: 15px;
  font-weight: bold;
  font-style: oblique;
/*  color: indianred; */
}

.join-us-form-alert {
  margin-top: 5px;
  margin-right: 5px;
  width: 65%;
}

.maillist-form-alert {
  margin-top: 5px;
  margin-right: 5px;
  width: 95%;
}


.ng-touched.ng-valid {
  border: 1px green solid;
  background-color: rgb(250, 255, 189);
}

.ng-touched.ng-invalid {
  border: 2px red solid;
  background-color: lightyellow;
}



/* END Join Us Form */

/* START Nemo Info */
.userinfo {
  width: 50%;
  height: 80%;
  margin-top: 25px;

}
/* END Nemo Info */



/********** Large devices only **********/
@media (min-width: 1200px) {

}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {

  /* Home page */

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
