

/* Contact Form */
#success_message {
   display: none;
 }

/* Lean Canvas */
.col-md-2 {
  padding: 0px;
}

.col-md-4 {
  padding: 0px;
}
.col-md-6 {
  padding: 0px;
}
.col-md-12 {
  padding: 0px;
}

.panel-padding {
  margin-top: 50px;
  margin-bottom: 125px;
}

.panel-rounded-corners {
  border-radius: 5px !important;
}


#section-overview {
  margin-top: 50px;
  margin-bottom: 100px;
}
#section-leancanvas {
  margin-top: 50px;
  margin-bottom: 100px;
}

#leancanvas-title h2 {
  background-color: rgba(242,222,223, 0.9);   /* pink */
#  background-color: rgba(254,247,228, 0.9);   /* yellow */
#  background-color: rgba(222,240,216, 0.9);   /* green */
  margin:0px;
  padding:0px;
  color: #666666;
  text-align: center;
}

.panel-column {
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  border: 2px solid indianred;
  overflow: hidden;
  color: black;
  background-color: rgba(242,222,223, 0.85);   /* pink */
#  background-color: rgba(254,247,228, 0.9);   /* yellow */
#  background-color: rgba(222,240,216, 0.9);   /* green */
}

.panel-column-full {
  height: 500px;
}
.panel-column-half {
  height: 250px;
}
.panel-column-quarter {
  height: 150px;
}

.panel-column p {
  padding: 5px;
  margin: 5px;
  text-align: left;
  margin-bottom: 25px;
  color: #666666;
border: none;
}

.panel-column h3 {
  text-align: left;
  font-size: 1.5em;
  color: #666666;
  margin: 10px;
}

.panel-column h4 {
  font-size: 1em;
  text-align: left;
  margin: 10px;
  margin-bottom: 0px;
  color: indianred;
}

.panel-column-leancanvas {
  border: 1px solid indianred;
}

#leancanvas-title {
  border: 1px solid indianred;
}

/* END Lean Canvas */

.extra-margin {
  margin: 15px;
}

.emailsignup-socialbuttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#site-name {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 5px;
}

body {
#  background-color: #f1f1f1;
  background-image: url('http://cdn-beheard.lawrencemcdaniel.com/images/mlk-march-on-dc.jpg');
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('http://cdn-beheard.lawrencemcdaniel.com/images/mlk-march-on-dc.jpg');

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body img {
  opacity: .5;
}

footer {
  height: 75px;
  background-color: #111111;
  color: white;
  margin: 0px;
  padding: 0px;
}

footer p {
  position: relative;
  padding: 25px;
  text-align: center;
}



/** HEADER **/
#header-nav {
  background-color: #111111;
  border-radius: 0;
  border: 1px solid #111111;
}


.navbar-brand {
#  padding-top: 25px;
}


.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p { /* Kosher cert */
  color: #000;
#  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
  padding: 5px;
}

.navbar-brand p span { /* Star-K */
#  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #e9e9e9;
  text-align: center;
}
#nav-list a:hover {
  background: #777777;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {

}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */


/********** Large devices only **********/
@media (min-width: 1200px) {

}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  /* End Header */

  /* Home Page */
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }

  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav course text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav course glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */


  /* Home Page */
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */

  /* Home page */

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
