<!-- =============================== Contact Form ======================================================= -->
<section id="section-getinvolved">
  <div class="row join-us-form">
    <div class="col-md-6 pull-right panel-padding">
      <div class="panel-column panel-column-full panel-rounded-corners">
        <h3>Join Us!</h3>

        <div class="" ng-controller="JoinusController as ctrl">
          <fieldset>
              <form name="joinusForm" novalidate>

                <div class="form-group">
                  <div class="inputGroupContainer">
                    <div class="input-group input-group-lg has-feedback extra-margin">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input type="text"
                            class="form-control"
                            id="firstName"
                            name="firstName"
                            placeholder="First Name"
                            ng-model="ctrl.userInfo.firstName"
                            required>
                      <span ng-if="joinusForm.firstName.$error.required && nemoForm.firstName.$touched">
                          <small>Your first name is required</small>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="inputGroupContainer">
                      <div class="input-group input-group-lg has-feedback extra-margin">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text"
                              class="form-control"
                              id="lastName"
                              name="lastName"
                              placeholder="Last Name"
                              ng-model="ctrl.userInfo.lastName"
                              required>
                        <span ng-if="joinusForm.lastName.$error.required && nemoForm.lastName.$touched">
                            <small>Your last name is required</small>
                        </span>
                      </div>
                    </div>
                </div>

                <div class="form-group">
                  <div class="inputGroupContainer">
                      <div class="input-group input-group-lg has-feedback extra-margin">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="email"
                              class="form-control"
                              id="emailAddress"
                              name="emailAddress"
                              ng-model="ctrl.userInfo.emailAddress"
                              placeholder="your-email@address.com"
                              required>
                        <span ng-if="joinusForm.emailAddress.$invalid && nemoForm.emailAddress.$touched">
                            <small>Please provide a valid email address.</small>
                        </span>
                      </div>
                    </div>
                </div>

                <div class="form-group">
                  <div class="inputGroupContainer">
                     <div class="input-group input-group-lg has-feedback extra-margin">
                       <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                       <input type="textarea"
                             style="height:175px"
                             class="form-control join-us-form-input-comment"
                             rows="5"
                             cols="40"
                             id="comment"
                             name="comment"
                             placeholder="How would you like to get involved?"
                             ng-model="ctrl.userInfo.comment"
                             required>  <!-- closing tag for comment input -->
                     </div>
                   </div>
                </div>
              </form>
          </fieldset>

          <button class="btn btn-danger pull-right extra-margin"
                  ng-disabled="joinusForm.$invalid"
                  ng-click="ctrl.setContactForm()">Submit</button>

          <div ng-if="ctrl.saved" class="join-us-form-alert extra-margin">
              <p class="alert alert-success">
                  {{ctrl.message}}
              </p>
          </div>
      </div> <!-- ng-controller="JoinusController as ctrl" -->

    </div> <!-- col-md-6 -->
  </div> <!-- row -->
</section><!-- end of get inolved-->

<!-- =============================== END Contact Form ======================================================= -->
