<!-- =============================== MAIL LIST SIGNUP ======================================================= -->
<section id="section-emailsignup">
  <div class="row">
    <div class="col-md-5 pull-left panel-padding">
      <div class="panel-column panel-column-half panel-rounded-corners">
        <h3>Stay Updated</h3>
        <p>Receive regular updates about our service and ways to get more involved.</p>
        <div class="" ng-controller="MaillistController as ctrl">
          <fieldset>
            <form name="mailListForm" novalidate>

              <div class="form-group">
                <div class="inputGroupContainer">
                  <div class="input-group input-group-lg extra-margin">
                    <input type="email"
                        id="emailAddress"
                        class="form-control"
                        name="emailAddress"
                        ng-model="ctrl.userInfo.emailAddress"
                        placeholder="E-Mail Address"
                        required>
                    <span ng-if="joinusForm.emailAddress.$invalid && nemoForm.emailAddress.$touched">
                        <small>Please provide a valid email address.</small>
                    </span>

                    <!-- submit input -->
                    <span class="input-group-btn">
                      <button class="btn btn-large btn-danger"
                              ng-disabled="mailListForm.$invalid"
                              ng-click="ctrl.submitForm()">Sign Up</button>

                    </span>
                  </div><!-- /input-group -->
                </div>
              </div> <!-- form-group -->

            </form>
          </fieldset>


          <div ng-if="ctrl.saved" class="maillist-form-alert extra-margin">
              <p class="alert alert-success">
                  {{ctrl.message}}
              </p>
          </div>



        </div> <!--  ng-controller="JoinusController as ctrl"  -->
      </div> <!-- panel-column-->
    </div> <!-- col-md5-->
  </div> <!-- row -->
</section><!-- end of email signup-->
<!-- =============================== END: MAIL LIST SIGNUP ======================================================= -->
