{
  "swagger": "2.0",
  "info": {
    "version": "2017-05-22T13:42:06Z",
    "title": "Beheard"
  },
  "host": "api-beheard.lawrencemcdaniel.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/html",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "<html>\n    <head>\n   \t<title>Be Heard REST API</title>\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n    <link rel=\"icon\" type=\"image/jpeg\" href=\"https://beheard.lawrencemcdaniel.com/images/favicon.png\" />\n        <style>\n          body {\n            background-color: #f9f9f9;\n          }\n          section {\n            box-shadow: 0 1px 5px 1px #cccccc;\n            border-radius: 5px;\n            margin: 20px;\n            padding: 10px;\n            background-color: white;\n            width: 90%;\n          }\n\n          h1 {\n              margin-bottom: 25px;\n          }\n\n          h2 {\n            margin: 25px;\n            margin-left: 5px;\n            color: FireBrick;\n          }\n\n          h3 {\n            margin-left: 20px;\n            font-size: 1.5em;\n            font-weight: bolder;\n          }\n\n          p {\n            margin: 5px;\n            padding: 25px;\n            text-align: justify;\n          }\n\n          code {\n             color: red;\n             font-style: italic;\n             background-color: #f1f1f1;\n             padding-right: 5px;\n             padding-left: 5px;\n          }\n\n          pre {\n             background-color: #f1f1f1;\n             margin: 35px;\n             margin-top: 15px;\n             margin-bottom: 15px;\n          }\n\n          img {\n            margin: 5px;\n            padding: 25px;\n          }\n\n          ul {\n            margin-left: 25px;\n          }\n\n          footer {\n            height: 75px;\n            background-color: #111111;\n            color: white;\n            margin: 0px;\n            padding: 0px;\n          }\n\n          footer p {\n            position: relative;\n            padding: 25px;\n            text-align: center;\n          }\n\n          .welcome-paragraph p {\n            margin: 0px;\n            margin-bottom: 25px;\n\n            padding: 0px;\n          }\n\n          /* for pretty print */\n          li.L0, li.L1, li.L2, li.L3,\n          li.L5, li.L6, li.L7, li.L8 {\n            list-style-type: decimal !important;\n          }\n        </style>\n    </head>\n    <body>\n\n      <div id=\"main-content\" class=\"container\">\n        <h1>Welcome to the Be Heard REST API!</h1>\n\n        <div class=\"welcome-paragraph\">\n          <p>You have succesfully invoked this API. You are seeing this HTML page because the <code>GET</code> method to the root resource this API returns is content generated as a Mock integration.</p>\n          <p>The Be Heard API provides read and write access to several resources. Many of these interact with a NoSQL database while a couple provide seamless integration to other AWS cloud infrastructure back end resources. This API primarily uses a web and computer-friendly data interchange format called <a href=\"https://en.wikipedia.org/wiki/JSON\" target=\"_blank\">JSON</a> which enables this interface to efficiently send and receive text representations of complex data objects. You can read more about <a href=\"https://en.wikipedia.org/wiki/JSON\" target=\"_blank\">JSON</a> <a href=\"http://www.json.org/\" target=\"_blank\">via this link</a>.</p>\n          <p>Complete source code for the <a href=\"https://beheard.lawrencemcdaniel.com/\" target=\"_blank\">Be Heard</a> web site as well as the technical specifications for this api are freely available for download at this GitHub repository: <a href=\"https://github.com/lpm0073/beheard\" target=\"_blank\">https://github.com/lpm0073/beheard</a></p>\n        </div>\n\n        <section>\n          <div class=\"row\">\n            <div class=\"col-md-12 \">\n              <h2>Resources you can retrieve with this API</h2>\n              <h3>Mail List</h3>\n              <div class=\"row\">\n                <div class=\"col-md-6 pull-left\">\n                  <p>A mail list sign up form exists on the landing page where visitors can add their email address to a newsletter database. You can download this database by making a GET request to <a href=\"https://api-beheard.lawrencemcdaniel.com/v1/maillist/\" target=\"_blank\">https://api-beheard.lawrencemcdaniel.com/v1/maillist/</a></p>\n                </div>\n                <div class=\"col-md-6 pull-right\">\n                    <img class=\"img-responsive img-rounded\" src=\"https://s3-us-west-2.amazonaws.com/beheard.lawrencemcdaniel.com/images/maillist-screenshot.png\" width=\"100%\" alt=\"Mail list screenshot\">\n                </div>\n              </div>\n\n              <h3>Join Us</h3>\n              <div class=\"row\">\n                <div class=\"col-md-6 pull-right\">\n                  <p>A \"Join Us\" form also exists on the landing page where visitors can leave their contact information if they'd like to get more involved with Be Heard. You can download the entire database  by making a GET request to <a href=\"https://api-beheard.lawrencemcdaniel.com/v1/joinus/\" target=\"_blank\">https://api-beheard.lawrencemcdaniel.com/v1/joinus/</a> or you can optionally append an email address of a single visitor to retrieve only one <a href=\"https://en.wikipedia.org/wiki/JSON\" target=\"_blank\">JSON</a> record for that visitor. For example, to retreive the <a href=\"https://en.wikipedia.org/wiki/JSON\" target=\"_blank\">JSON</a> object representing the visitor with email address \"lpm0073@gmail.com\", you can would make a GET request to <code>https://api-beheard.lawrencemcdaniel.com/v1/joinus/lpm0073@gmail.com</code>.</p>\n                </div>\n                <div class=\"col-md-6 pull-left\">\n                    <img class=\"img-responsive img-rounded\" src=\"https://s3-us-west-2.amazonaws.com/beheard.lawrencemcdaniel.com/images/join-us-screenshot.png\" width=\"100%\" alt=\"Mail list screenshot\">\n                </div>\n              </div>\n\n              <h3>Comments</h3>\n              <div class=\"row\">\n                <div class=\"col-md-12\">\n                  <p class=\"bg-danger\">Though not currently implemented on the production site, the Be Heard API provides a full-featured comments api that is page-aware and can optionally be used to dump the entire comments database in <a href=\"https://en.wikipedia.org/wiki/JSON\" target=\"_blank\">JSON</a> format.</p>\n                  <p>By making a GET request to <a href=\"https://api-beheard.lawrencemcdaniel.com/v1/comments/\" target=\"_blank\">https://api-beheard.lawrencemcdaniel.com/v1/comments/</a> you can retrieve a list of Comments in this API. You can optionall append the URI of one of the site's web page to retrieve only the comments made to that page. For example, to retreive the <a href=\"https://en.wikipedia.org/wiki/JSON\" target=\"_blank\">JSON</a> objects representing the page comments from web site page \"big-news-in-dc\", you can would make a GET request to <code>https://api-beheard.lawrencemcdaniel.com/v1/comments/big-news-in-dc</code>.</p>\n                </div>\n              </div>\n\n            </div>\n          </div>\n\n        </section>\n        <section>\n          <div class=\"row\">\n            <div class=\"col-md-12 \">\n              <h2>Resources you can store with this API</h2>\n              <p>You can use a REST client such as <a href=\"https://www.getpostman.com/\" target=\"_blank\">Postman</a> to test the POST methods included in this API. Each of the <code>POST</code> API methods require a <a href=\"https://en.wikipedia.org/wiki/JSON\" target=\"_blank\">JSON</a> \"payload\" that includes the data to be stored. Each method has it's own special format. You'll need to refer to the examples included in this section to create valid payloads.</p>\n\n              <h3>Mail List</h3>\n              <p>You can upload a comment with a <code>POST</code> method to <code>/maillist</code> and a payload of the following format included in the body of the http request:</p>\n              \t  \t<pre class=\"prettyprint\">\n      {\n      \t\"emailAddress\": \"a-valid-email-address@gmail.com\"\n      }</pre>\n\n      <p>An example web client implementation of this api method:</p>\n      <pre class=\"prettyprint linenums\">\n        /*--------------------------------------------------------------------------------------\n          This is an example web client call to the api using a jQuery AJAX call.\n          This is the actual implentation of the button-click event from the Mail List form button\n          available here: https://github.com/lpm0073/beheard/blob/master/js/script.js\n          --------------------------------------------------------------------------------------*/\n        $('#maillist-button').on('click', function (e) {\n          var url = \"https://api-beheard.lawrencemcdaniel.com/v1/maillist\";\n          var data = '{ \"emailAddress\" : \"' + $(\"#maillist-emailaddress\").val() + '\" }';\n\n          console.log(\"#maillist-button.on('click'): \" + url + ' ' + data);\n\n          $.ajax({\n              type: 'POST',\n              url: url,\n              data: data,\n              contentType: 'application/json; charset=utf-8',\n              dataType: 'json',\n              success: function (msg) {\n                console.log(msg);\n              },\n              error: function (e) {\n                  console.log(e.responseText);\n                  console.log(e);\n              }\n          });\n\n        });</pre>\n\n\n              <h3>Join Us</h3>\n              <p>You can upload a comment with a <code>POST</code> method to <code>/joinus</code> and a payload of the following format included in the body of the http request:</p>\n              \t  \t<pre class=\"prettyprint\">\n      {\n      \t\"emailAddress\": \"a-valid-email-address@gmail.com\",\n      \t\"firstName\": \"George\",\n      \t\"lastName\": \"Washington\",\n      \t\"comment\": \"Yadda yadda yadda, blah blah nannah nanna nah!\",\n      }</pre>\n\n      <h3>Comments</h3>\n      <p>You can upload a comment with a <code>POST</code> method to <code>/comments</code> and a payload of the following format included in the body of the http request:</p>\n            <pre class=\"prettyprint\">\n{\n\"pageId\": \"silly-web-page\",\n\"userName\": \"mcdaniel0073\",\n\"message\": \"this article should win a pultizer prize -- not!\"\n}</pre>\n\n            </div><!-- col-md-12  -->\n          </div><!-- Row -->\n\n        </section>\n\n          <section>\n            <div class=\"row\">\n              <div class=\"col-md-12 \">\n                <h2>More information about REST api's</h2>\n                <div class=\"row\">\n                  <div class=\"col-md-6 pull-left\">\n                      <img class=\"img-responsive img-rounded\" src=\"https://beheard.lawrencemcdaniel.com/images/rest-json-diagram.png\" width=\"100%\" alt=\"JSON diagram\">\n                  </div>\n                  <div class=\"col-md-6 pull-right\">\n                      <img class=\"img-responsive img-rounded\" src=\"https://beheard.lawrencemcdaniel.com/images/rest-api-diagram.png\" width=\"100%\" alt=\"REST API diagram\">\n                  </div>\n                  <p><strong>So what exactly is a <a href=\"https://en.wikipedia.org/wiki/Representational_state_transfer\" target=\"_blank\">REST</a> api, and why is it important?</strong> And while we're at it, what in the heck is <a href=\"https://www.w3schools.com/js/js_json_intro.asp\" target=\"_blank\">JSON</a>? Imagine a super-duper universal adaptor that could connect any source input to any output. That would be pretty cool! In a nutshel that is a <a href=\"https://en.wikipedia.org/wiki/Representational_state_transfer\" target=\"_blank\">REST</a> api implemented using <a href=\"https://en.wikipedia.org/wiki/JSON\" target=\"_blank\">JSON</a>. A <a href=\"https://en.wikipedia.org/wiki/Representational_state_transfer\" target=\"_blank\">REST</a> api provides a standardized way for any Internet-connected device to access any kind of Internet-accessible resource. a <a href=\"https://en.wikipedia.org/wiki/Representational_state_transfer\" target=\"_blank\">REST</a> api makes it possible to create a single back end that is used by web sites, mobile apps, and IoT devices, providing a consistent user experience across all of these different kinds of devices.</p>\n                </div>\n\n                <h3>Why do they matter?</h3>\n                <p class=\"col-md-12\">A <a href=\"https://en.wikipedia.org/wiki/Representational_state_transfer\" target=\"_blank\">REST</a> api creates an import layer of abstraction between the details and nuances of back end computing and storage resources, and the specifics of the many different kinds of front end devices that rely on those resources. Designers and technology professionals have become increasing specialized, and, they increasingly work in disparate teams; often at entirely different companies. Meanwhile, the release cycles of typical web apps and Internet services have accelerated so much over the last decade that may companies release new features multiple times a day. This is made possible in large part because individual team members are able to work autonomously, without the need to synchronize logistical requirements.</p>\n                <p class=\"col-md-12\"><a href=\"https://en.wikipedia.org/wiki/JSON\" target=\"_blank\">JSON</a> is an important piece of the puzzle as well. <a href=\"https://en.wikipedia.org/wiki/JSON\" target=\"_blank\">JSON</a> makes it possible to transfer complex data ojbects between front and back ends using a simple text format. When fused with the Internet's standard https protocol, end-to-end SSL encryption, and the <a href=\"https://en.wikipedia.org/wiki/Representational_state_transfer\" target=\"_blank\">REST</a> standard it becomes possible to implement rich and highly sophisticated data-driven features across an infinite variety of Internet-connected devices. With <a href=\"https://en.wikipedia.org/wiki/Representational_state_transfer\" target=\"_blank\">REST</a> and <a href=\"https://en.wikipedia.org/wiki/JSON\" target=\"_blank\">JSON</a> technology teams would collapse from the unweildly complexity created by having to consider the implications of multitudes of back end infrastructure provisioning conserations against a blistering array of different front end technologies and physical presentation formats.</p>\n\n                <h3>Working with JSON data</h3>\n                <p class=\"col-md-12 bg-danger\">JSON can be imported to/from desktop applications like MS Access and MS Excel with several free online tools. It is also rumored that Microsoft will include <a href=\"https://en.wikipedia.org/wiki/JSON\" target=\"_blank\">JSON</a> data connectors in forthcoming releases of MS Office. For more information read this blog: http://cdn.cdata.com/help/DJA/odbc/pg_usageinaccesso.htm</p>\n              </div><!-- col-md-12  -->\n            </div><!-- Row -->\n\n          </section>\n\n          <section>\n            <div class=\"row\">\n              <div class=\"col-md-12 \">\n                <h2>About the infrastructure supporting this api</h2>\n                <p>This api is implemented as a Microservice using Amazon Web Services cloud infrasture components and services. Microservices are an architectural and organizational approach to software development to speed up deployment cycles, foster innovation and ownership, and improve maintainability and scalability of software applications - as well as scaling organizations delivering software and services. Using a microservices approach, software is composed of small independent services that communicate over well-defined APIs. These services are owned by small selfcontained teams. Following are some excellent resources for learning more about how to implement secure, robust RESTful interfaces with AWS:\n                  <ul>\n                    <li><a href=\"https://aws.amazon.com/blogs/aws/amazon-api-gateway-build-and-run-scalable-application-backends/\" target=\"_blank\">Amazon API Gateway – Build and Run Scalable Application Backends</a></li>\n                    <li><a href=\"https://aws.amazon.com/blogs/compute/using-amazon-api-gateway-as-a-proxy-for-dynamodb/\" target=\"\">Using Amazon API Gateway as a proxy for DynamoDB</a></li>\n                    <li><a href=\"https://www.youtube.com/watch?v=TuGyyTXPQ-U\" target=\"\">Youtube: How to use AWS API Gateway to expose AWS DynamoDB database backend</a></li>\n                  </ul>\n                </p>\n                <p>Microservices were first pioneered by Amazon.com as a way to overcome crippling complexity in its constantly evolving flagship online store. The approached was later adopted by fast-growth silicon valley startups like Twitter, Facebook, Ube and AirBnb and has sinced become a best practice approach to systems planning with companies of all sizes.</p>\n              <h3>Microservice Versus Traditional Infrastructure Planning</h3>\n              <div class=\"row\">\n                <div class=\"col-md-6 pull-left\">\n                    <img class=\"img-responsive img-rounded\" src=\"https://beheard.lawrencemcdaniel.com/images/aws-microservices-architecture.png\" width=\"100%\" alt=\"AWS Microservices Architecture Diagram\">\n                </div>\n                <div class=\"col-md-6 pull-right\">\n                    <img class=\"img-responsive img-rounded\" src=\"https://beheard.lawrencemcdaniel.com/images/aws-traditional-webapp-architecture.jpg\" width=\"100%\" alt=\"Traditional Web App Infrastructure Diagram\">\n                </div>\n              </div>\n              <p>\n                Microservices provide several immediate benefits to businesses; especially of the early-stage high growth variety. First, microservices typcially are created from managed web infrastructure services that require little or no adminstrative know-how. Further, the back end computing and storage resources as well as much of the complexity of implementing and managing security features are all abstracted away. This essentially enables a pure and infinitely scalable \"pay as your go\" paradigm to businesses. Further, much of the IT burden is eliminated such as disaster recovery planning, data backup-restore, system documetation, and so on.\n              </p>\n\n              <h3>HTTPS and CORS</h3>\n              <div class=\"row\">\n                <div>\n                  <div class=\"col-md-6 pull-right\">\n                      <img class=\"img-responsive img-rounded\" src=\"https://beheard.lawrencemcdaniel.com/images/rest-cors-diagram.png\" width=\"80%\" alt=\"CORS Diagram\">\n                  </div>\n                </div>\n                <p>\n                  This api is highly secure. Some of the security features are visible and verifiable. You'll notice for example that this api runs over a secure SSL-encryption connection. By experimentation you'll also see that the \"write\" features of the api only work when called from https://beheard.lawrencemcdaniel.com, which is by no means accidental. Importantly, this api is open and available to public, but is also highly secure meanwhile requiring no user authentication credentials. That's pretty cool! This is all made possible with the standard Internet HTTPS protocol and a newish standard called <a href=\"https://en.wikipedia.org/wiki/Cross-origin_resource_sharing\" target=\"_blank\">CORS (Cross Origin Resource Sharing)</a>\n                </p>\n              </div>\n\n              <h3>NoSQL Databases</h3>\n              <div class=\"row\">\n                <div class=\"col-md-6 pull-left\">\n                    <img class=\"img-responsive img-rounded\" src=\"https://beheard.lawrencemcdaniel.com/images/nosql-banner.jpg\" width=\"100%\" alt=\"NoSQL Database Diagram\">\n                </div>\n                <p>A NoSQL (originally referring to \"non SQL\", \"non relational\" or \"not only SQL\") database provides a mechanism for storage and retrieval of data which is modeled in means other than the tabular relations used in relational databases. Such databases have existed since the late 1960s, but did not obtain the \"NoSQL\" moniker until a surge of popularity in the early twenty-first century, triggered by the needs of Web 2.0 companies such as Facebook, Google, and Amazon.com. NoSQL databases are increasingly used in big data and real-time web applications. NoSQL systems are also sometimes called \"Not only SQL\" to emphasize that they may support SQL-like query languages. You can read more about NoSQL databases here: <a href=\"https://www.mongodb.com/nosql-explained\" target=\"_blank\">https://www.mongodb.com/nosql-explained</a></p>\n              </div>\n            </div> <!-- col-md-12  -->\n            </div> <!-- Row -->\n\n\n        </section>\n\n\n      </div>  <!-- id=\"main-content\" class=\"container\" -->\n\n      <footer class=\"footer\">\n          <div class=\"container\">\n            <p class=\"text-muted\">Contact: Lawrence McDaniel | lpm0073@gmail.com | <a href=\"http://lawrencemcdaniel.com\" target=\"blank\">lawrencemcdaniel.com</a></p>\n          </div>\n       </footer>\n\n    <script src=\"https://rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css\" defer></script>\n<!--\n      <script type=\"text/javascript\" src=\"https://use.fontawesome.com/f234ed9c9a.js\"></script>\n      <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-3.2.1.min.js\" integrity=\"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=\" crossorigin=\"anonymous\"></script>\n      <script type=\"text/javascript\" src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>\n-->\n    </body>\n</html>\n"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/comments": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::090511222473:role/comment-editor",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "#set($inputRoot = $input.path('$'))\n{\n    \"comments\": [\n        #foreach($elem in $inputRoot.Items) {\n            \"commentId\": \"$elem.commentId.S\",\n            \"userName\": \"$elem.userName.S\",\n            \"message\": \"$elem.message.S\"\n        }#if($foreach.hasNext),#end\n\t#end\n    ]\n}"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\n    \"TableName\": \"Comments\",\n    \"ReturnConsumedCapacity\": \"TOTAL\"\n}\n"
          },
          "uri": "arn:aws:apigateway:us-west-2:dynamodb:action/Scan",
          "passthroughBehavior": "when_no_templates",
          "httpMethod": "POST",
          "type": "aws"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::090511222473:role/comment-editor",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{ \n    \"TableName\": \"Comments\",\n    \"Item\": {\n\t\"commentId\": {\n            \"S\": \"$context.requestId\"\n            },\n        \"pageId\": {\n            \"S\": \"$input.path('$.pageId')\"\n            },\n        \"userName\": {\n            \"S\": \"$input.path('$.userName')\"\n        },\n        \"message\": {\n            \"S\": \"$input.path('$.message')\"\n        }\n    }\n}\n"
          },
          "uri": "arn:aws:apigateway:us-west-2:dynamodb:action/PutItem",
          "passthroughBehavior": "when_no_templates",
          "httpMethod": "POST",
          "type": "aws"
        }
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'POST,GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/comments/{pageId}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::090511222473:role/comment-editor",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseTemplates": {
                "application/json": "#set($inputRoot = $input.path('$'))\n{\n    \"comments\": [\n        #foreach($elem in $inputRoot.Items) {\n            \"commentId\": \"$elem.commentId.S\",\n            \"userName\": \"$elem.userName.S\",\n            \"message\": \"$elem.message.S\"\n        }#if($foreach.hasNext),#end\n\t#end\n    ]\n}"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\n    \"TableName\": \"Comments\",\n    \"IndexName\": \"pageId-index\",\n    \"KeyConditionExpression\": \"pageId = :v1\",\n    \"ExpressionAttributeValues\": {\n        \":v1\": {\n            \"S\": \"$input.params('pageId')\"\n        }\n    }\n}\n"
          },
          "uri": "arn:aws:apigateway:us-west-2:dynamodb:action/Query",
          "passthroughBehavior": "when_no_templates",
          "httpMethod": "POST",
          "type": "aws"
        }
      }
    },
    "/joinus": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::090511222473:role/Beheard-JoinUs-editor",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseTemplates": {
                "application/json": "#set($inputRoot = $input.path('$'))\n{\n    \"joinus\": [\n        #foreach($elem in $inputRoot.Items) {\n            \"requestId\": \"$elem.requestId.S\",\n            \"emailAddress\": \"$elem.emailAddress.S\",\n            \"firstName\": \"$elem.firstName.S\",\n            \"lastName\": \"$elem.lastName.S\",\n            \"comment\": \"$elem.comment.S\"\n        }#if($foreach.hasNext),#end\n\t#end\n    ]\n}"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\n    \"TableName\": \"JoinUs\",\n    \"ReturnConsumedCapacity\": \"TOTAL\"\n}\n"
          },
          "uri": "arn:aws:apigateway:us-west-2:dynamodb:action/Scan",
          "passthroughBehavior": "when_no_templates",
          "httpMethod": "POST",
          "type": "aws"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::090511222473:role/Beheard-JoinUs-editor",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{ \n    \"TableName\": \"JoinUs\",\n    \"Item\": {\n\t\"requestId\": {\n            \"S\": \"$context.requestId\"\n            },\n        \"emailAddress\": {\n            \"S\": \"$input.path('$.emailAddress')\"\n            },\n        \"firstName\": {\n            \"S\": \"$input.path('$.firstName')\"\n        },\n        \"lastName\": {\n            \"S\": \"$input.path('$.lastName')\"\n        },\n        \"comment\": {\n            \"S\": \"$input.path('$.comment')\"\n        }\n    }\n}\n"
          },
          "uri": "arn:aws:apigateway:us-west-2:dynamodb:action/PutItem",
          "passthroughBehavior": "when_no_templates",
          "httpMethod": "POST",
          "type": "aws"
        }
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'POST,GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    },
    "/joinus/{emailAddress}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "emailAddress",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::090511222473:role/Beheard-JoinUs-editor",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseTemplates": {
                "application/json": "#set($inputRoot = $input.path('$'))\n{\n    \"joinus\": [\n        #foreach($elem in $inputRoot.Items) {\n            \"requestId\": \"$elem.requestId.S\",\n            \"emailAddress\": \"$elem.emailAddress.S\",\n            \"firstName\": \"$elem.firstName.S\",\n            \"lastName\": \"$elem.lastName.S\",\n            \"comment\": \"$elem.comment.S\"\n        }#if($foreach.hasNext),#end\n\t#end\n    ]\n}"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\n    \"TableName\": \"JoinUs\",\n    \"IndexName\": \"emailAddress-index\",\n    \"KeyConditionExpression\": \"emailAddress = :v1\",\n    \"ExpressionAttributeValues\": {\n        \":v1\": {\n            \"S\": \"$input.params('emailAddress')\"\n        }\n    }\n}\n"
          },
          "uri": "arn:aws:apigateway:us-west-2:dynamodb:action/Query",
          "passthroughBehavior": "when_no_templates",
          "httpMethod": "POST",
          "type": "aws"
        }
      }
    },
    "/maillist": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::090511222473:role/BeheardMailList-editor",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              },
              "responseTemplates": {
                "application/json": "#set($inputRoot = $input.path('$'))\n{\n    \"maillist\": [\n        #foreach($elem in $inputRoot.Items) {\n            \"emailAddress\": \"$elem.emailAddress.S\",\n            \"requestId\": \"$elem.requestId.S\",\n            \"sourceIp\": \"$elem.sourceIp.S\"\n        }#if($foreach.hasNext),#end\n\t#end\n    ]\n}"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\n    \"TableName\": \"BeheardMailList\",\n    \"ReturnConsumedCapacity\": \"TOTAL\"\n}\n"
          },
          "uri": "arn:aws:apigateway:us-west-2:dynamodb:action/Scan",
          "passthroughBehavior": "when_no_templates",
          "httpMethod": "POST",
          "type": "aws"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::090511222473:role/BeheardMailList-editor",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{ \n    \"TableName\": \"BeheardMailList\",\n    \"Item\": {\n\t\"requestId\": {\n            \"S\": \"$context.requestId\"\n            },\n\t\"sourceIp\": {\n\t    \"S\": \"$context.identity.sourceIp\"\n\t    },\n        \"emailAddress\": {\n            \"S\": \"$input.path('$.emailAddress')\"\n        }\n    }\n}\n"
          },
          "uri": "arn:aws:apigateway:us-west-2:dynamodb:action/PutItem",
          "passthroughBehavior": "when_no_templates",
          "httpMethod": "POST",
          "type": "aws"
        }
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Access-Control-Allow-Methods": "'POST,GET,OPTIONS'",
                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'",
                "method.response.header.Access-Control-Allow-Origin": "'*'"
              }
            }
          },
          "requestTemplates": {
            "application/json": "{\"statusCode\": 200}"
          },
          "passthroughBehavior": "when_no_match",
          "type": "mock"
        }
      }
    }
  },
  "definitions": {
    "Empty": {
      "type": "object",
      "title": "Empty Schema"
    }
  }
}